extends ../../layouts/account

block head
    title Event's

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/views/events/events.css')
  link(rel='stylesheet', href='/layouts/pictureHoverEffect.css')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')
  script(src='/vendor/angular/angular.min.js')
  script(src='/vendor/scroller/js/scroller.js')
  script(src='/vendor/ladda/js/spin.min.js')
  script(src='/vendor/ladda/js/ladda.min.js')
  script(src='/vendor/upload/upload.js')
  script(src='/vendor/windowcrop/js/windowcrop.js')
  script(src='/vendor/typeahead/js/typeahead.min.js')
  script(src='/vendor/typeahead/js/hogan.js')
  script(src='/vendor/tagsinput/bootstrap-tagsinput.min.js')
  script(src='/views/account/index.js')
  script(src='/vendor/share/share.js')
  script(src='/views/events/index.js')

block body
    div.page-header
        div.well(id="#sponsored_channels")
                strong.center-block Sponsored Channel's
                div.carousel.slide(id="sponsored_news")
                  div.carousel-inner
                    div.item.active
                      div.row
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')

                    div.item
                      div.row
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')
                        div.col-sm-3
                          a(href="#")
                            img.img-responsive(src='http://placehold.it/256x150')

                  a.left.carousel-control(href="#sponsored_news", data-slide="prev")
                    i.fa.fa-arrow-circle-o-left
                  a.right.carousel-control(href="#sponsored_news", data-slide="next")
                    i.fa.fa-arrow-circle-o-right
    //- div
        form.form-group(role="search", method="post", action="/search/", id="searchForm")
            div.input-group
                input.form-control(type="text", placeholder="Search ...")
                div.input-group-btn
                    button.btn.btn-default(type="submit")
                        i.fa.fa-search

    div.page-header
      h2 Channel's
      div.row
        p media-header
    div.page-header
      h2 Event's
      div.row
        p media
    //- div.row
        - for(var i = 0; i < 100; ++i) {
        div.col-sm-6.col-md-4
            div.panel.panel-default(style="margin-bottom: 30px;")
                div.panel-image
                    div.imageBlock.imageEffect
                        img.img-responsive(src='http://placehold.it/384x225', alt='...')
                        div.topLeftEffect
                        div.topRightEffect
                        div.bottomLeftEffect
                        div.bottomRightEffect
                        div.imageInfo
                            h4 Event title
                            p Lorem ipsum dolor. Aenean scelerisque odio ut dui feugiat commodo. Nulla blandit erat vel nisi consectetur ac pharetra augue consectetur.
                            a(href="#") More info
                div.panel-body
                    div.row
                        div.col-sm-6
                            p
                                i.fa.fa-ticket
                                strong  Ticket: &nbsp;
                                span 5
                                i.fa.fa-bitcoin
                            p
                                i.fa.fa-chevron-circle-right
                                strong  Channel: &nbsp;
                                span  samtv
                        div.col-sm-6
                            p
                                i.fa.fa-calendar
                                strong  Date: &nbsp;
                                span 25.12.2013
                            p
                                i.fa.fa-clock-o
                                strong  Time: &nbsp;
                                span 18:00
                div.panel-footer
                    a(href="")
                        i.fa.fa-facebook
                    a(href="")
                        i.fa.fa-twitter
                    a(href="")
                        i.fa.fa-linkedin
                    a(href="")
                        i.fa.fa-google-plus-square
                    a(href="")
                        i.fa.fa-envelope
                    a.pull-right.blue(href="")
                        i.fa.fa-tag  Enter
        - }
