extends ../../layouts/layout

block head
  title Contact Us

block neck
  link(rel='stylesheet', href='/views/contact/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/contact/index.min.js?#{cacheBreaker}')

block body
  div.row(style="margin-top: 15px;")
    div.col-sm-6
      div.page-header
        h1 Send A Message
        small.visible-xs support@halycon.tv • Varazdin 42000, Hrvatska
      div#contact
    div.col-sm-6.special.hidden-xs
      div.page-header
        h1 Contact Us
      p.lead Freddy can't wait to hear from you.
      i.fa.fa-reply-all.super-awesome
      address support@halycon.tv &bull; Varazdin 42000, Hrvatska

  script(type='text/template', id='tmpl-contact')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | We have received your message. Thank you.
        |<% } %>
      |<% if (!success) { %>
      div.form-group(class!='<%= errfor.name ? "has-error" : "" %>')
        label.control-label Your Name:
        input.form-control(type='text', name='name', value!='<%= name %>')
        span.help-block <%= errfor.name %>
      div.form-group(class!='<%= errfor.email ? "has-error" : "" %>')
        label.control-label Your Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%= errfor.email %>
      div.form-group(class!='<%= errfor.message ? "has-error" : "" %>')
        label.control-label Message:
        textarea.form-control(name='message', rows='5') <%= message %>
        span.help-block <%= errfor.message %>
      div.form-group
        button.btn.btn-primary.btn-contact(type='button') Send Message
      |<% } %>
