extends ../../layouts/account

block head
  title #{username}

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/vendor/scroller/css/scroller.css')
  link(rel='stylesheet', href='/vendor/ladda/css/ladda-themeless.min.css')
  link(rel='stylesheet', href='/layouts/pictureHoverEffect.css')
  link(rel='stylesheet', href='/vendor/windowcrop/css/windowcrop.css')
  link(rel='stylesheet', href='/vendor/typeahead/css/typeahead.css')
  link(rel='stylesheet', href='/vendor/tagsinput/bootstrap-tagsinput.css')

block feet
  script(src='/vendor/angular/angular.min.js')
  script(src='/vendor/scroller/js/scroller.js')
  script(src='/vendor/ladda/js/spin.min.js')
  script(src='/vendor/ladda/js/ladda.min.js')
  script(src='/vendor/upload/upload.js')
  script(src='/vendor/windowcrop/js/windowcrop.js')
  script(src='/vendor/typeahead/js/typeahead.min.js')
  script(src='/vendor/typeahead/js/hogan.js')
  script(src='/vendor/tagsinput/bootstrap-tagsinput.min.js')
  script(src='/views/account/index.js')
  script(src='/vendor/share/share.js')

block body
  div.row(style='margin-top: 15px;', ng-controller="main")
    div.col-sm-3.special.hidden-xs
      div(style="margin-top: 17px;")
        a(href="/profile/#{user.username}")
          img.center-block.img-thumbnail(width='256', height='256', src="#{user.photo}")
        h2 #{user.username}
        div.row
          div.col-sm-4
            h2 #{user.following}
            small Following
          div.col-sm-4
            h2 #{user.followers}
            small Followers
          div.col-sm-4
            h2 #{user.stars}
            small Starring
        hr
        strong Starred Channels
        input.form-control(type="text", placeholder="Search channels")
        div(id="channels")
          div.nano.has-scrollbar
            div.content
              div.list-group
                a.list-group-item(href="{{ star.url }}", ng-repeat="star in my_stars")
                  span
                    i.fa.fa-chevron-circle-right &nbsp;
                  span  {{ star.name }}

    div.col-sm-9
        br
        ul.nav.nav-tabs
          li
            a(href="#news", data-toggle="tab", id="news_btn")
              span
                i.fa.fa-globe

          li.pull-right
            a(href="#my_schedule", data-toggle="tab", id="my_schedule_btn", title='My Schedule')
              span
                i.fa.fa-calendar

          li.pull-right
            a(href="#my_events", data-toggle="tab", id="my_events_btn")
              span
                i.fa.fa-users

          li.pull-right
            a(href="#my_channels", data-toggle="tab", id="my_channels_btn")
              span
                i.fa.fa-chevron-circle-right


        div.tab-content
          div.tab-pane.fade.in(id="news")
              div.row(style="margin-top: 20px;")

                .col-sm-3
                  select.form-control(ng-model="query.type")
                    option(value="")  All
                    option(value="{{ nsf.type }}", ng-repeat="nsf in news_filter")  {{ nsf.value }}

              hr
              div.row
                div.col-sm-12(ng-show="!news_feed.length")
                  h4
                    | Highly trained monkeys stole your news. We are working hard to find them. Try again later.
                div.col-sm-6(ng-repeat="news in news_feed | filter:query")
                    div.panel.panel-default(style="margin-bottom: 30px;")
                        div.panel-image(style="height: 250px;")
                            div.imageBlock.imageEffect(style="height: 250px;")
                                img.img-responsive(ng-src="{{ news.photo }}", alt="{{ news.name }}")
                                div.topLeftEffect
                                div.topRightEffect
                                div.bottomLeftEffect
                                div.bottomRightEffect
                                div.imageInfo
                                    h4 {{ news.name }}
                                    p {{ news.description }}
                                    a(href="{{ news.profile_url }}") Visit profile
                        div.panel-footer
                            a(class="share-toggle" href="https://halycon.tv/", data-network="facebook", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                                i.fa.fa-facebook
                            a(class="share-toggle" href="https://halycon.tv/", data-network="twitter", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                                i.fa.fa-twitter
                            a(class="share-toggle" href="https://halycon.tv/", data-network="linkedin", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                                i.fa.fa-linkedin
                            a(class="share-toggle" href="https://halycon.tv/", data-network="googleplus", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                                i.fa.fa-google-plus-square
                            a(class="share-toggle" href="https://halycon.tv/", data-network="email", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                                i.fa.fa-envelope
                            a.pull-right.blue(ng-if="news.type == 'channel'", href="/{{ news.name }}")
                              span
                                i.fa.fa-chevron-circle-right
                              span  Enter
                            a.pull-right.blue(ng-if="news.type == 'event'", href="/{{ profile_url }}")
                              span
                                i.fa.fa-users
                              span  Schedule

          div.tab-pane.fade.in(id="my_events", ng-controller='my_events')

            div.modal.fade(id="send_invitations", tabindex="-1", role="dialog", aria-labelledby="send_invitations", aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Invite people to your event
                  div.modal-body
                    p Thank you for your understanding! We are currently working on this feature.
                  div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") OK, send

            div.modal.fade(id="delete_modal", tabindex="-1", role="dialog", aria-labelledby="delete_modal", aria-hidden="true")
              div.modal-dialog
                div.modal-content
                  div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title WARNING!
                  div.modal-body
                    p You are about to delete scheduled event. Are you really sure?
                  div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") No
                    button.btn.btn-primary(type="button") Yes

            div.row(style="margin-top: 20px;")
              .col-sm-2
                //-select.form-control.pull-left
                  option Date
                  option Price
                  option Popularity
              .col-sm-5
              .col-sm-5
                form(role="new_event", method="post", action="/events/new/")
                    div.input-group
                        input.form-control.navbar-right(type="text", name="event[name]", placeholder="Enter event name", required)
                        div.input-group-btn
                          button.btn.btn-primary(type="submit")
                            span
                              i.fa.fa-plus
                            span  Schedule
            hr

            h4(ng-show="!my_events.length")
              | You have no event's planned. Enter name above to host some.

            ul.list-group
                li.list-group-item(ng-repeat="event in my_events")
                  div.media
                    a.pull-left.img-thumbnail(href="#", style="margin-bottom: 0px; margin-right: 15px;")
                      img.media-object(width='256', height='160', ng-src='{{ event.meta.photo_thumbnail_path }}')
                    div.media-body
                      h4.media-heading
                        span
                          i.fa.fa-group &nbsp;
                        span  {{ event.data.name }}
                      hr
                      div.row
                        div.col-sm-6
                          p {{ event.data.description }}

                        div.col-sm-4
                          .row
                            span
                              i.fa.fa-calendar &nbsp; &nbsp;
                            span  {{ event.data.start_datetime }}
                          .row
                            span
                              i.fa.fa-chevron-circle-right &nbsp; &nbsp;
                            span # {{ event.channel.name }}
                          .row
                            span
                              i.fa.fa-ticket &nbsp; &nbsp;
                            strong Ticket: &nbsp;
                            span {{ event.invoice.ticket_price }}
                        .col-sm-2
                      div.btn-group.btn-group-sm
                        //-button.btn.btn-default
                          i.fa.fa-foursquare
                        //-button.btn.btn-default
                          i.fa.fa-instagram
                        button.btn.btn-default
                          i.fa.fa-facebook-square
                        button.btn.btn-default
                          i.fa.fa-twitter
                        button.btn.btn-default
                          i.fa.fa-linkedin
                        button.btn.btn-default
                          i.fa.fa-google-plus-square
                        button.btn.btn-default
                          i.fa.fa-envelope
                      button.btn.pull-right.btn-primary(type="button", data-toggle="modal", data-target="#send_invitations") Send Invitations
                      //- button.btn.pull-right.btn-danger(type="button", data-toggle="modal", data-target="#delete_modal") Delete
                      //- button.btn.pull-right.btn-primary(type="button") Edit



          div.tab-pane.fade(id="my_channels", ng-controller='my_channels')
            //-div.row(style="margin-top: 10px;")
              .col-sm-8.col-sm-offset-4
                form.form-inline(action="#", id="new_channel_form")
                  div.input-group(id="newchannel")
                    div.input-group-btn
                      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                        i.fa.fa-tag  {{ selected_type }}
                        span.caret
                      ul.dropdown-menu
                        li(ng-repeat="item in channel_types")
                          a(href ng-click="selected(item)")  {{ item }}
                      input.category(type="hidden", name="type")
                    input.form-control(type="text", placeholder="New channel name", ng-model="new_channel_name")
                    div.input-group-btn
                      button.btn.btn-primary.ladda-button.fixGroupBtnRight(data-style="expand-right", data-size="l", type="button", id="newchannel_save", ng-click="new_channel(new_channel_callback)", style="right: 15px;")
                        i.fa.fa-save  Add channel
            div.row(style="margin-top: 20px;")
              div.col-xs-5.col-md-3
                select.form-control(ng-model="channel_selected", ng-options="channel as channel.data.name for channel in channels")
              div.col-xs-7.col-md-9
                div.pull-right
                  button.btn.btn-default(type="button", data-toggle="modal", data-target="#edit_channel")
                    span
                      i.fa.fa-edit
                    span  Edit
                  button.btn.btn-default(type="button", id="photo_button", style="margin-left: 15px;")
                    span
                      i.fa.fa-picture-o
                    span  Change photo
                  button.btn.btn-success.ladda-button(type="button", id="upload_photo_button", style="margin-left: 15px;", ng-show="upload_ready", ng-click="upload_photo()", data-style="expand-right", data-size="m")
                    span
                      i.fa.fa-upload
                    span  Upload
                  button.btn.btn-primary(ng-hide="true", type="button", style="margin-left: 15px;") Get another channel
              div.modal.fade(id="edit_channel", tabindex="-1", role="dialog", aria-labelledby="edit_channel_modal", aria-hidden="true")
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                      h4.modal-title(id="edit_channel_modal") Edit Channel
                    div.modal-body
                      //- div.row(style="margin-bottom:10px;")
                        .col-md-6
                          h4
                            i.fa.fa-chevron-circle-right  &nbsp; {{ channel_selected.data.name }}
                        div.col-md-6(id="dropdowns")
                            div.btn-group.pull-right
                              button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown")
                                i.fa.fa-bullhorn  {{ selected_status }}
                                | &nbsp;
                                span.caret
                              ul.dropdown-menu(role="menu")
                                li(ng-repeat="status in channel_status")
                                  a(href ng-click="sel_status(status)")  {{ status }}
                            div.btn-group.pull-right(id="newchannel", style="margin-right: 10px;")
                              button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                i.fa.fa-tag  {{ selected_type }}
                                | &nbsp;
                                span.caret
                              ul.dropdown-menu
                                li(ng-repeat="type in channel_types")
                                  a(href ng-click="sel_type(type)")  {{ type }}

                      div.row
                        .col-md-6
                          p
                            input.form-control(type="text", placeholder="Channel name", ng-model="channel_selected.data.name", disabled)
                          p
                            select.form-control(ng-model="channel_selected.meta.status", ng-options="status as status for status in channel_status")
                        .col-md-6
                          p
                            select.form-control(ng-model="channel_selected.meta.language", ng-options="lang as lang for lang in languages")
                          p
                            select.form-control(ng-model="channel_selected.data.type", ng-options="type as type for type in channel_types")
                      div.row
                        .col-md-12
                          p
                            textarea.form-control(placeholder="Channel description ...", ng-model="channel_selected.meta.description", style="height: 125px; resize: none;")
                      div.row
                        .col-md-12
                          b Choose up to 5 categories to describe your channel:
                          p
                            input.form-control(type="text", id="categories_select", placeholder="Add categories")
                    div.modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal", ng-click="update_tagsinput(channel_selected.meta.categories)") Close
                      button.btn.btn-primary.ladda-button(type="button", ng-click="update_channel()", data-style="expand-right", data-size="l", id="channel_save")  Save Changes

            hr
            form(id="edit_channel_form", enctype="multipart/form-data")
              div.center-block(id="photo_placeholder")
                img.img-responsive.center-block.panel.panel-default(ng-src="{{ channel_selected.data.photo }}", width="830", height="515")
              input(type="file", id="photo_input", name="channel_photo", style="display: none;")
              div.row
                .col-md-6
                  h1.pull-left
                    span
                      i.fa.fa-chevron-circle-right
                    span  {{ channel_selected.data.name }}
                .col-md-6
                  div.pull-right
                    h3.inline-block
                      a(data-toggle="tooltip", title="Total number of Shares")
                        span
                          i.fa.fa-share-square &nbsp;
                        b  {{ channel_selected.stats.shares }}
                      span &nbsp; &nbsp;
                    h3.inline-block
                      a(data-toggle="tooltip", title="Total number of Stars")
                        span
                          i.fa.fa-star &nbsp;
                        b  {{ channel_selected.stats.stars }}
                      span &nbsp; &nbsp;
                    h3.inline-block
                      a(data-toggle="tooltip", title="Total number of Views")
                        span
                          i.fa.fa-video-camera &nbsp;
                        b  {{ channel_selected.stats.total_views }}
                      span &nbsp; &nbsp;
                    h3.inline-block
                      a(data-toggle="tooltip", title="Max number of Viewers")
                        span
                          i.fa.fa-dot-circle-o &nbsp;
                        b  {{ channel_selected.stats.online_viewers.max }}
              hr
              div.row
                div.col-md-6
                  p
                    b Description:
                    span  {{ channel_selected.meta.description }}
                div.col-md-4
                  p
                    b Language:
                    span  {{ channel_selected.meta.language }}
                  p
                    b Categories:
                  div
                    div.inline-block(ng-repeat="cat in channel_selected.meta.categories", style="margin-left: 5px;  margin-top: 5px;")
                      span.label.label-info
                        span
                          i.fa.fa-tag
                        span  {{ cat }}
                div.col-md-2
                  p
                    b Type:
                    span.label.label-primary.pull-right
                      span
                        i.fa.fa-bell-o
                      span  {{ channel_selected.data.type }}
                  p
                    b Status:
                    span.label.label-inverse.pull-right
                      span
                        i.fa.fa-bullhorn
                      span  {{ channel_selected.meta.status }}
            hr
            //- div.row
              div.col-sm-12
                ul.list-group
                  li.list-group-item(ng-repeat="channel in channels")
                    div.row
                      div.col-sm-3
                        a(href="#")
                          i.fa.fa-edit  Edit
                        span &nbsp; &nbsp;

                        span.pull-right.label.label-primary
                          i.fa.fa-tag &nbsp;
                          strong {{ channel.data.type }}
                      div.col-sm-6
                        i.fa.fa-chevron-circle-right &nbsp;
                        strong {{ channel.data.name }}

                      div.col-sm-3
                        div.pull-right
                          a(data-toggle="tooltip", title="Total number of Shares")
                            i.fa.fa-share-square &nbsp;
                            strong {{ channel.stats.shares }}
                          span &nbsp; &nbsp;
                          a(data-toggle="tooltip", title="Total number of Stars")
                            i.fa.fa-star &nbsp;
                            strong {{ channel.stats.stars }}
                          span &nbsp; &nbsp;
                          a(data-toggle="tooltip", title="Total number of Views")
                            i.fa.fa-video-camera &nbsp;
                            strong {{ channel.stats.total_views }}
                          span &nbsp; &nbsp;
                          a(data-toggle="tooltip", title="Max number of Viewers")
                            i.fa.fa-dot-circle-o &nbsp;
                            strong {{ channel.stats.online_viewers.max }}


          div.tab-pane.fade(id="my_schedule")
            ...
