extends ../../layouts/layout

block head
  title #{username}

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/vendor/scroller/css/scroller.css')
  link(rel='stylesheet', href='/vendor/ladda/css/ladda-themeless.min.css')

block feet
  script(src='/vendor/moment/moment.js')
  script(src='/vendor/angular/angular.min.js')
  script(src='/vendor/scroller/js/scroller.js')
  script(src='/views/profile/index.js')
  script(src='/vendor/ladda/js/spin.min.js')
  script(src='/vendor/ladda/js/ladda.min.js')

block body
  input(type="hidden", value="#{following}", id="following")
  div.row(style="margin-top: 15px;", ng-controller='main')
    div.col-sm-3.special
      div(style="margin-top: 17px;")
        img.center-block.img-thumbnail(width='256', height='256', src="#{profile_user.photo}")
        br
        - if (!header) {
          a.btn.btn-lg.btn-primary(href="/login/?redirectUrl='/profile/#{profile_user.username}'&follow='true'")
            span
              i.fa.fa-arrow-right
            span  Follow
          hr
        - }
        - if (header && show_follow) {
          a.btn.btn-lg.btn-primary(ng-hide="following", ng-click="follow()")
            span
              i.fa.fa-arrow-right
            span  Follow
          a.btn.btn-lg.btn-default(ng-show="following", ng-click="unfollow()")
            span
              i.fa.fa-arrow-right
            span  Unfollow
          hr
        - }
        h2(id="profile_username") #{profile_user.username}
        div.row
          div.col-sm-4.col-xs-4
            h2(id="following") #{profile_user.following}
            small Following
          div.col-sm-4.col-xs-4
            h2(id="followers") #{profile_user.followers}
            small Followers
          div.col-sm-4.col-xs-4
            h2 #{profile_user.stars}
            small Starring
        hr
        - if(profile_user.roles.account.name.full != profile_user.username) {
          p
            span
              i.fa.fa-user
            span  #{profile_user.roles.account.name.full}
        - }
        p
          span
            i.fa.fa-clock-o
          span  Joined on #{joinDate}
        p
          a(href="mailto:#{profile_user.email}")
            span
              i.fa.fa-envelope-o
            span  #{profile_user.email}

        - if(typeof profile_user.twitter != 'undefined') {
          p
            a(href="https://twitter.com/#{profile_user.twitter.screen_name}")
              span
                i.fa.fa-twitter
              span  #{profile_user.twitter.screen_name}
        - }
        - if(typeof profile_user.facebook != 'undefined') {
          p
            a(href="#{profile_user.facebook.link}")
              span
                i.fa.fa-facebook
              span   #{profile_user.facebook.username}
        - }
        - if(profile_user.roles.account.company != '') {
          p
            span
              i.fa.fa-briefcase
            span  #{profile_user.roles.account.company}
        - }
        - if(profile_user.roles.account.phone != '') {
          p
            span
              i.fa.fa-phone
            span  #{profile_user.roles.account.phone}
        - }
    div.col-sm-9
      div
        ul.nav.nav-tabs
          li
            a(href="#my_channels", data-toggle="tab", id="my_channels_btn")
              span
                i.fa.fa-chevron-circle-right
          li
            a(href="#my_events", data-toggle="tab", id="my_events_btn")
              span
                i.fa.fa-users
          //- li.pull-right
            button.btn.btn-primary.btn-sm(typy="button")
              i.fa.fa-arrow-right  Follow
      div.tab-content
        div.tab-pane.fade.in(id="my_channels")
          div.page-header
            //- h2
              span
                i.fa.fa-chevron-circle-right
              span  {{ channel_selected.data.name }}
            div(id="livestream")
              img.center-block.img-responsive(ng-src="{{ channel_selected.data.photo }}", width="830", height="515")
            div.row
              .col-md-6

              .col-md-6
                div.pull-right
                  h3.inline-block
                    a(data-toggle="tooltip", title="Total number of Shares")
                      span
                        i.fa.fa-share-square &nbsp;
                      b  {{ channel_selected.stats.shares }}
                    span &nbsp; &nbsp;
                  h3.inline-block
                    a(data-toggle="tooltip", title="Total number of Stars")
                      span
                        i.fa.fa-star &nbsp;
                      b  {{ channel_selected.stats.stars }}
                    span &nbsp; &nbsp;
                  h3.inline-block
                    a(data-toggle="tooltip", title="Total number of Views")
                      span
                        i.fa.fa-video-camera &nbsp;
                      b  {{ channel_selected.stats.total_views }}
                    span &nbsp; &nbsp;
                  h3.inline-block
                    a(data-toggle="tooltip", title="Max number of Viewers")
                      span
                        i.fa.fa-dot-circle-o &nbsp;
                      b  {{ channel_selected.stats.online_viewers.max }}
            hr
            div.row
              div.col-md-6
                  p
                    b Description:
                    span  {{ channel_selected.meta.description }}
              div.col-md-4
                  p
                    b Language:
                    span  {{ channel_selected.meta.language }}
                  p
                    b Categories:
                  div
                    div.inline-block(ng-repeat="cat in channel_selected.meta.categories", style="margin-left: 5px;  margin-top: 5px;")
                      span.label.label-info
                        span
                          i.fa.fa-tag
                        span  {{ cat }}
              div.col-md-2
                  p
                    b Type:
                    span.label.label-primary.pull-right
                      span
                        i.fa.fa-bell-o
                      span  {{ channel_selected.data.type }}
                  p
                    b Status:
                    span.label.label-inverse.pull-right
                      span
                        i.fa.fa-bullhorn
                      span  {{ channel_selected.meta.status }}

          div.page-header
            h2 Recorded Videos
          div.row.form-group(style="margin-top: 10px;")
            div.col-xs-12.col-md-6(ng-show="!profile_videos.length")
              | There are no recorded videos by this profile.
            div.col-xs-12.col-md-4(ng-repeat="video in profile_videos")
              div.panel.panel-default
                div.panel-image.hide-panel-body
                  video(width="260", height="195" controls)
                    source(ng-src="{{ video.path }}")
                div.panel-body
                div.panel-footer.text-center
                  a(href="")
                    i.fa.fa-facebook
                  a(href="")
                    i.fa.fa-twitter
                  a(href="")
                    i.fa.fa-linkedin
                  a(href="")
                    i.fa.fa-google-plus-square
                  a(href="")
                    i.fa.fa-envelope
        div.tab-pane.fade.in(id="my_events")
          div.page-header
            h2 Event's
          div.row(style="margin-top: 10px;")
            div.col-xs-12.col-md-6(ng-show="!profile_events.length")
              | There are no event's scheduled by this profile.
            div.col-xs-12.col-md-6(ng-repeat="event in profile_events")
              div.panel.panel-default
                div.panel-image
                  img.center-block(width="404", height="250", ng-src="{{ event.meta.photo_path }}")
                div.panel-body
                  h4 {{ event.data.name }}
                  p {{ event.data.description }}
                div.panel-footer
                  a(href="")
                    i.fa.fa-facebook
                  a(href="")
                    i.fa.fa-twitter
                  a(href="")
                    i.fa.fa-linkedin
                  a(href="")
                    i.fa.fa-google-plus-square
                  a(href="")
                    i.fa.fa-envelope
                  span.pull-right
                    span
                      i.fa.fa-calendar
                    span  {{ event.data.start_datetime }}
