extends ../../../layouts/default

block head
  title Forgot Your Password?

block feet
  script(src='/views/login/forgot/index.min.js?#{cacheBreaker}')

block body
  div.row(style="margin-top: 15px;")
    div.col-sm-6
      div.page-header
        h1 Forgot Your Password?
      div#forgot

  script(type='text/template', id='tmpl-forgot')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info
          button.close(type='button', data-dismiss='alert') &times;
          | We sent password reset instructions to your email address.
        |<% } %>
      |<% if (!success) { %>
      div.form-group(class!='<%= errfor.email ? "has-error" : "" %>')
        label.control-label Enter Your Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%= errfor.email %>
      |<% } %>
      div.form-group
        |<% if (!success) { %>
        button.btn.btn-primary.btn-forgot(type='button') Send Reset
        |<% } %>
        |&nbsp;
        a.btn.btn-link(href='/login/') Back to Login
