/*@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(Ubuntu-B.ttf) format('ttf');
}*/

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url('OpenSans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
