extends ../../layouts/default

block head
  title Sign Up

block neck
  link(rel='stylesheet', href='/views/signup/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
  div.row(style="margin-top: 100px;")
    div.col-sm-4
    div.col-sm-4.panel.panel-default(style="padding-top: 20px; padding-bottom: 40px;")
      div.page-header
        h1 Sign Up
      div#signup
      if oauthTwitter || oauthGitHub || oauthFacebook
        hr
        p Or sign up using...
        if oauthMessage
          div.alerts
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |#{oauthMessage}&nbsp;
              b
                a(href='/login/') Login Here
        div.btn-group.btn-group-justified
          if oauthTwitter
            a.btn.btn-info(href='/signup/twitter/')
              i.fa.fa-twitter.fa-lg
              |  Twitter
          if oauthGitHub
            a.btn.btn-info(href='/signup/github/')
              i.fa.fa-github.fa-lg
              |  GitHub
          if oauthFacebook
            a.btn.btn-info(href='/signup/facebook/')
              i.fa.fa-facebook-square.fa-lg
              |  Facebook
    div.col-sm-4

  script(type='text/template', id='tmpl-signup')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.form-group(class!='<%= errfor.username ? "has-error" : "" %>')
        label.control-label Pick a Username:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%= errfor.username %>
      div.form-group(class!='<%= errfor.email ? "has-error" : "" %>')
        label.control-label Enter Your Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%= errfor.email %>
      div.form-group(class!='<%= errfor.password ? "has-error" : "" %>')
        label.control-label Create a Password:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%= errfor.password %>
      div.form-group
        button.btn.btn-primary.btn-signup.center-block(type='button') Create My Account
