extends ../../layouts/default

block head
  title Login

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
  div.row(style="margin-top: 100px;")
    div.col-sm-4
    div.col-sm-4.panel.panel-default(style="padding-top: 20px; padding-bottom: 40px;")
      div.page-header
        h1 Sign In
      div#login
      if oauthTwitter || oauthGitHub || oauthFacebook
        hr
        p Or sign in using...
        if oauthMessage
          div.alerts
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |#{oauthMessage}&nbsp;
              b
                a(href='/signup/') Sign Up Here
        div.form-actions
          div.btn-group.btn-group-justified
            if oauthTwitter
              a.btn.btn-info(href='/login/twitter/')
                i.fa.fa-twitter.fa-lg
                |  Twitter
            if oauthGitHub
              a.btn.btn-info(href='/login/github/')
                i.fa.fa-github.fa-lg
                |  GitHub
            if oauthFacebook
              a.btn.btn-info(href='/login/facebook/')
                i.fa.fa-facebook-square.fa-lg
                |  Facebook
    div.col-sm-4
  script(type='text/template', id='tmpl-login')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.form-group(class!='<%= errfor.username ? "has-error" : "" %>')
        label.control-label Username or Email:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%= errfor.username %>
      div.form-group(class!='<%= errfor.password ? "has-error" : "" %>')
        label.control-label Password:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%= errfor.password %>
      div.form-actions.text-center
        button.btn.btn-primary.btn-login(type='button') Sign In
        |&nbsp;
        a.btn.btn-link(href='/login/forgot/') Forget your password?
        input(type='hidden', name='returnUrl', value=returnUrl)
