extends ../../../layouts/account

block head
  title Account Settings
  link(rel='stylesheet', href='/vendor/windowcrop/css/windowcrop.css')
  link(rel='stylesheet', href='/vendor/ladda/css/ladda-themeless.min.css')

block feet
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')
  script(src='/vendor/upload/upload.js')

  script(src='/vendor/ladda/js/spin.min.js')
  script(src='/vendor/ladda/js/ladda.min.js')
  script(src='/vendor/takepicture/takepicture.js')
  script(src='/views/account/settings/uploadx.js')
  script(src='/vendor/windowcrop/js/windowcrop.js')

block body
  div.row(style="margin-top: 15px;")
    div.col-xs-12
      div.page-header
        h1 Account Settings
  div.row
    div.col-sm-9
      ul.nav.nav-tabs
        li
          a(href="#photo", data-toggle="tab", id="user_photo_btn") User Photo
        li
          a(href="#details", data-toggle="tab", id="details_btn") Details
        li
          a(href="#identity", data-toggle="tab", id="identity_btn") Identity
        li
          a(href="#password", data-toggle="tab", id="password_btn") Password
        li
          a(href="#payment_account", data-toggleupalit cu ="tab", id="payments_btn") Payments

      div.tab-content
        div.tab-pane(id="photo")
          div.row(style="margin-top: 20px;")
            div.col-sm-4
              img.img-thumbnail.center-block(width='128', height='128', src='#{user.photo}', id="user_photo")
              br
              ul.nav.nav-pills.nav-stacked
                li
                  a(href="#camera", data-toggle="tab", id="photo_camera_btn") Take photo with camera
                li
                  a(href="#from_disk", data-toggle="tab") Upload from disk
                li
                  a(href="#from_url", data-toggle="tab") Upload from URL
            div.tab-content.col-sm-8

              //-form(action='/account/settings/profile_photo', method="post", enctype="multipart/form-data", id="new_profile_photo")
                input(type='hidden', name='profile_photo', id="new_photo")

              div.tab-pane(id="camera")
                div.row
                  button.btn.btn-primary.center-block(type="button", id="startbutton")
                    span
                      i.fa.fa-camera  
                    span  Take photo
                  br
                  div.row(id="canvas-block")
                    div.img-thumbnail.center-block(style="width:266px; height: 266px;", id="photo_preview_camera")
                      canvas(id="canvas", style="display:none;")
                      img.crop_me(id="profile_img")
                    br
                    button.btn.btn-success.ladda-button.center-block(type="button", id="upload_camera_photo", data-style="expand-right", data-size='l')
                      span
                        i.fa.fa-upload   
                      span  Upload photo
                  div.row(id="video-block")
                    div.img-thumbnail.center-block(style="width:330px; height: 250px;")
                      video(id="video")
              div.tab-pane(id="from_disk")
                div.img-thumbnail.center-block(style="width: 266px; height:266px;", id="photo_preview_disk")
                br
                form.form-inline(action='/account/settings/profile_photo/', method='post', enctype="multipart/form-data", id="from_disk_form")
                  div.input-group
                    input.center-block.form-control(type="file", name="profile_photo", id="from_disk_input")
                    div.input-group-btn
                      button.btn.btn-success.center-block.ladda-button(id="upload_disk_photo", data-style="expand-right", data-size="l")
                        span
                          i.fa.fa-upload   
                        span  Upload
              div.tab-pane(id="from_url")
                div.img-thumbnail.center-block(style="width: 266px; height:266px;", id="photo_preview_url")

                br
                button.center-block.btn.btn-success.ladda-button(type="button", id="upload_url_photo", data-style="expand-right", data-size="l", disabled)
                  span
                    i.fa.fa-upload  
                  span  Upload
                br
                form.form-inline(action='/account/settings/profile_photo/', method='post', enctype='multipart/form-data', id="from_url_form")
                  div.input-group
                    input.center-block.form-control(type="text", name="profile_photo", id="profile_photo_url" placeholder="http://")
                    div.input-group-btn
                      button.center-block.btn.btn-primary.ladda-button(type="button", id="fetch_url_photo", data-style="expand-right", data-size="l")
                        span
                          i.fa.fa-download  
                        span  Fetch

        div.tab-pane(id="payment_account")
          div.row(style="margin-top: 20px;")
            div.col-sm-4
            div.col-sm-4
              fieldset
                legend Payment wallet
            div.col-sm-4


        div.tab-pane(id="details")
          div#details
        div.tab-pane(id="identity")
          div#identity
        div.tab-pane(id="password")
          div#password

    div.col-sm-3
      if oauthTwitter || oauthGitHub || oauthFacebook
        legend(style="margin-top: 10px;") Social Connections
        if oauthMessage
          div.alerts
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |#{oauthMessage}
        if oauthTwitter
          if oauthTwitterActive
            a.btn.btn-block.btn-danger(href='/account/settings/twitter/disconnect/')
              i.fa.fa-twitter.fa-lg
              |  Disconnect Twitter
          else
            a.btn.btn-block.btn-default(href='/account/settings/twitter/')
              i.fa.fa-twitter.fa-lg
              |  Connect Twitter
        if oauthGitHub
          if oauthGitHubActive
            a.btn.btn-block.btn-danger(href='/account/settings/github/disconnect/')
              i.fa.fa-github.fa-lg
              |  Disconnect GitHub
          else
            a.btn.btn-block.btn-default(href='/account/settings/github/')
              i.fa.fa-github.fa-lg
              |  Connect GitHub
        if oauthFacebook
          if oauthFacebookActive
            a.btn.btn-block.btn-danger(href='/account/settings/facebook/disconnect/')
              i.fa.fa-facebook-square.fa-lg
              |  Disconnect Facebook
          else
            a.btn.btn-block.btn-default(href='/account/settings/facebook/')
              i.fa.fa-facebook-square.fa-lg
              |  Connect Facebook


  script(type='text/template', id='tmpl-details')
    div.row(style="margin-top: 20px;")
      div.col-md-3
      div.col-md-6
        fieldset
          legend Update Contact Info
          div.alerts
            |<% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
              |<%= err %>
            |<% }); %>
            |<% if (success) { %>
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              | Changes have been saved.
            |<% } %>
          div.control-group(class!='<%= errfor.first ? "has-error" : "" %>')
            label.control-label First Name:
            input.form-control(type='text', name='first', value!='<%- first %>')
            span.help-block <%= errfor.first %>
          div.control-group(class!='<%= errfor.middle ? "has-error" : "" %>')
            label.control-label Middle Name:
            input.form-control(type='text', name='middle', value!='<%- middle %>')
            span.help-block <%= errfor.middle %>
          div.control-group(class!='<%= errfor.last ? "has-error" : "" %>')
            label.control-label Last Name:
            input.form-control(type='text', name='last', value!='<%- last %>')
            span.help-block <%= errfor['last'] %>
          div.control-group(class!='<%= errfor.company ? "has-error" : "" %>')
            label.control-label Company Name:
            input.form-control(type='text', name='company', value!='<%- company %>')
            span.help-block <%= errfor.company %>
          div.control-group(class!='<%= errfor.phone ? "has-error" : "" %>')
            label.control-label Phone:
            input.form-control(type='text', name='phone', value!='<%- phone %>')
            span.help-block <%= errfor.phone %>
          div.control-group(class!='<%= errfor.zip ? "has-error" : "" %>')
            label.control-label Zip:
            input.form-control(type='text', name='zip', value!='<%- zip %>')
            span.help-block <%= errfor.zip %>
          div.control-group
            button.btn.btn-success.btn-update.center-block(type='button') Update Info
      div.col-md-3

  script(type='text/template', id='tmpl-identity')
    div.row(style='margin-top: 20px;')
      div.col-md-3
      div.col-md-6
        fieldset
          legend Update Identity Info
          div.alerts
            |<% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |<%= err %>
            |<% }); %>
            |<% if (success) { %>
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              | Changes have been saved.
            |<% } %>
          div.control-group(class!='<%= errfor.username ? "has-error" : "" %>')
            label.control-label Username:
            input.form-control(type='text', name='username', value!='<%= username %>', disabled)
            span.help-block <%= errfor.username %>
          div.control-group(class!='<%= errfor.email ? "has-error" : "" %>')
            label.control-label Email:
            input.form-control(type='text', name='email', value!='<%= email %>')
            span.help-block <%= errfor.email %>
          div.control-group
            button.btn.btn-success.btn-update.center-block(type='button') Update Info
      div.col-md-3

  script(type='text/template', id='tmpl-password')
    div.row(style="margin-top: 20px;")
      div.col-md-3
      div.col-md-6
        fieldset
          legend Change Password
          div.alerts
            |<% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |<%= err %>
            |<% }); %>
          |<% if (success) { %>
          div.alert.alert-info.alert-dismissable
            button.close(type='button', data-dismiss='alert') &times;
            | A new password has been set.
          |<% } %>
          div.control-group(class!='<%= errfor.newPassword ? "has-error" : "" %>')
            label.control-label New Password:
            input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
            span.help-block <%= errfor.newPassword %>
          div.control-group(class!='<%= errfor.confirm ? "has-error" : "" %>')
            label.control-label Confirm Password:
            input.form-control(type='password', name='confirm', value!='<%= confirm %>')
            span.help-block <%= errfor.confirm %>
          div.control-group
            button.btn.btn-success.btn-password.center-block(type='button') Set Password
      div.col-md-3

  script(type='text/template', id='data-account') !{data.account}
  script(type='text/template', id='data-user') !{data.user}
