extends ../../../layouts/account

block head
    title New Event

block neck
    link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/events/events.css')
    link(rel='stylesheet', href='/vendor/windowcrop/css/windowcrop.css')
    link(rel='stylesheet', href='/vendor/ladda/css/ladda-themeless.min.css')
    link(rel='stylesheet', href='/vendor/dtpicker/css/dtpicker.css')
    link(rel='stylesheet', href='/layouts/datepickerFlat.css')

block feet
    //- script(src='/views/account/index.min.js?#{cacheBreaker}')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/ladda/js/spin.min.js')
    script(src='/vendor/ladda/js/ladda.min.js')
    script(src='/vendor/moment/moment.js')
    script(src='/vendor/dtpicker/js/dtpicker.js')
    script(src='/vendor/upload/upload.js')
    script(src='/vendor/windowcrop/js/windowcrop.js')


    script(src='/views/events/new_event/index.js')

block body
    form(ng-controller='new_event', id="create_event_form", enctype="multipart/form-data")
        div.page-header(style="margin-top: 5px;")
            h2.inline-block
                i.fa.fa-group &nbsp; &nbsp;
                span(id="event_name") #{ new_event }
            button.btn.btn-lg.btn-success.ladda-button.pull-right(type="button", style="margin-top: 15px;", ng-click="save_event(save_event_callback)", id="save_event_button", data-style="expand-right", data-size="l")
                span.ladda-label
                    i.fa.fa-save   &nbsp; Save
                span.ladda-spinner
            br
            br
        div.row

            div.col-sm-6.col-md-6
                div.form-group
                    div.input-group
                        span.input-group-addon
                            i.fa.fa-calendar
                        input.form-control(type="text", name="event_schedule", id="event_schedule", ng-model="event_schedule", placeholder="Event Schedule")

                //-div.input-group.date.form_datetime(data-date-format="dd MM yyyy - HH:ii p", data-link-field="dtp_input1", data-date="2013-09-16T05:25:07Z")
                    input.form-control(size="16", readonly="", type="text", value="", placeholder="Add date and time of event ...")
                    span.input-group-addon
                      span.fa.fa-times
                    span.input-group-addon
                        span.fa.fa-calendar
                    p
                        input(type="hidden", id="dtp_input1", name='datetime' value="", ng-model="dt")
            div.col-sm-6.col-md-6
                input.form-control(type="text", placeholder="Add short description ...", name="description", ng-model="description")
        br
        div.row
            div.col-sm-12.col-md-12
                div.pull-right
                        div.btn-group
                            button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown")
                                i.fa.fa-chevron-circle-right  &nbsp; {{ channel_selected.data.name }}
                                span.label.label-info(style='margin-left: 5px;') {{ channel_selected.data.type }}
                                span.caret(style="margin-left: 5px;")
                            ul.dropdown-menu(role="menu")
                                li(ng-repeat="channel in channels")
                                    a(href, ng-click="selected(channel)")
                                        i.fa.fa-chevron-circle-right &nbsp; {{ channel.data.name }}

                        input(type="file", id="photo_input", name="promo_photo", style="display: none;")
                        button.btn.btn-primary(type="button", id="photo_button", style="margin-left: 15px;")
                            i.fa.fa-picture-o  &nbsp; Promo photo

                div.pull-left
                    button.btn.btn-primary(type="button")
                        i.fa.fa-globe   &nbsp; Invite people
                    &nbsp; and &nbsp;
                    button.btn.btn-primary(type="button")
                        i.fa.fa-money   &nbsp; Add payment
                    &nbsp; or &nbsp;
                    button.btn.btn-primary(type="button")
                        i.fa.fa-smile-o &nbsp; Set Donations
        hr
        div(style="float: none;margin: 0 auto;")
            div.center-block(id="photo_placeholder")
                img.center-block.img-thumbnail.crop_me(src="/media/channels/channel_placeholder.gif", alt="Promotional Photo")



