doctype 5
html
  head
    block head

      title #{title}

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/loading.css')
    link(rel='stylesheet', href='/views/index.min.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-extensions.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-square.css')
    link(rel='stylesheet', href='/layouts/halycon.css')
    link(rel='stylesheet', href='/fonts/fonts.css')

    block neck
  body(ng-app="app")
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#mainNavbar")
            span.sr-only Toggle navigation
            span
              i.fa.fa-bars
          a.navbar-brand(href="/")
            img(src='/logos/halycontv-logo.svg', height="40")
        div#mainNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', id="dropdownMain", data-toggle="dropdown")
                span
                  i.fa.fa-user
                span  #{user.username}
                span.caret
              ul.dropdown-menu(role="menu", aria-labelledby="dropdownMain")
                li
                  a(role="menuitem", tabindex="-1", href="/#{user.username}")
                    span
                      i.fa.fa-eye
                    span  Start Channel
                li.divider.hidden-xs
                li
                  a(role="menuitem", tabindex="-1", href="/profile/#{user.username}")
                    span
                      i.fa.fa-laptop
                    span  Profile
                //- li
                  a(href="/wallet/")
                    span
                      i.fa.fa-money
                    span  Wallet
                li.divider.hidden-xs
                li
                  a(role="menuitem", tabindex="-1", href="/account/settings/")
                    span
                      i.fa.fa-gears
                    span  Settings
                li.divider.hidden-xs
                li
                  a(role="menuitem", tabindex="-1", href="/logout/")
                    span
                      i.fa.fa-sign-out
                    span  Sign Out
            li
              a(href='/events/')
                span
                  i.fa.fa-globe
                span  Explore
          div.col-md-4.navbar-right.navbar-form(ng-controller="qs_cntrl")
            div.form-search.search-only
              input.form-control.search-query(type="text", placeholder="Search", required, autocomplete="off")
          //-form.navbar-form.navbar-right.hidden-xs(role="new_event", method="get", ng-controller="qs_cntrl")
            div.form-group.form-inline
              input.form-control(type="text", name="event[name]", placeholder="Channel name", required, autocomplete="off", id="qs_input")
            button.btn.btn-primary(type="submit", id="qs_btn", ng-click='quickstream()', data-type="last")
              i.fa.fa-eye

    div.page
      div.container
        block body

    //div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/logout/') Sign Out
          div.clearfix

    div.footer
      div.container.text-center
        div
          img(src='/logos/halycontv-logo.svg', alt='Halycon.TV logo', height='70')
          h2 Share your knowledge!
          h4 ...unlock unlimited possibilities...
        hr.separator
        div.bottom-50
          ul.list-inline
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/contact/') Contact
            li: a(href='/press/') Press
            li: a(href='/troubleshoot/') Troubleshoot
            li: a(href='/logout/') Sign Out
        div.bottom-50
          ul.list-inline
            li
              a(href='')
                i.fa.fa-facebook-square.fa-2x
            li
              a(href='')
                i.fa.fa-google-plus-square.fa-2x
            li
                a(href='')
                  i.fa.fa-twitter-square.fa-2x
            li
                a(href='')
                  i.fa.fa-linkedin-square.fa-2x
        div
          span.copyright
            &copy; #{copyrightYear} #{copyrightName} All rights reserved

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
