doctype 5
html
  head
    block head
      title #{title}
    
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/layouts/admin.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/admin/')
            img.navbar-logo(src='/media/logo-symbol-64x64.png')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | System&nbsp;
                span.caret
              ul.dropdown-menu
                li.dropdown-header Pivoted Settings
                li: a(href='/admin/statuses/') Statuses
                li: a(href='/admin/categories/') Categories
                li.divider
                li.dropdown-header User Admin
                li: a(href='/admin/users/') Users
                li: a(href='/admin/accounts/') Accounts
                li: a(href='/admin/administrators/') Administrators
                li: a(href='/admin/admin-groups/') Admin Groups
          form.navbar-form.pull-right#_search

    div.page
      div.container
        block body

    //div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/logout/') Sign Out
          div.clearfix

    div.footer
      div.container.text-center
        div
          img(src='/logos/halycontv-logo.svg', alt='Halycon.TV logo', height='70')
          h2 Share your knowledge!
          h4 ...unlock unlimited possibilities...
        hr.separator
        div.bottom-50
          ul.list-inline
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/contact/') Contact
            li: a(href='/press/') Press
            li: a(href='/troubleshoot/') Troubleshoot
            li: a(href='/logout/') Sign Out
        div.bottom-50
          ul.list-inline
            li
              a(href='')
                i.fa.fa-facebook-square.fa-2x
            li
              a(href='')
                i.fa.fa-google-plus-square.fa-2x
            li
                a(href='')
                  i.fa.fa-twitter-square.fa-2x
            li
                a(href='')
                  i.fa.fa-linkedin-square.fa-2x
        div
          span.copyright
            &copy; #{copyrightYear} #{copyrightName} All rights reserved

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    script(type='text/template', id='tmpl-_search')
      div.dropdown
        input.form-control(name='_search', type='text', placeholder='search', tab-index='1')
        ul#_search-results-rows.dropdown-menu
    script(type='text/template', id='tmpl-_search-results-row')
      |<% if (type && type == 'header') { %>
      |<%= name %>
      |<% } else { %>
      a(href!='<%= url %>') <%= name %>
      |<% } %>
    script(type='text/template', id='tmpl-_search-results-empty-row')
      li.dropdown-header no docs matched

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/layouts/admin.min.js?#{cacheBreaker}')

    block feet
