doctype 5
html
  head
    block head
      
      title #{title}

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/fonts/fonts.css')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/vendor/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-extensions.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-square.css')
    link(rel='stylesheet', href='/layouts/halycon.css')

    block neck
  body(ng-app='app')
    //- div.navbar.navbar-inverse.navbar-fixed-top
    //-   div.container
    //-     div.navbar-collapse.my-navbar-collapse.collapse
    //-       div.pull-left(style='margin-top: 10px;')
    //-         a(href='/', style='padding: 0px; margin-left: -25px;')
    //-             img(src='/media/halycontv.png', width='225')
    //-       ul.nav.navbar-nav.pull-left
    //-         li
    //-           a(href='/contact/')
    //-             i.fa.fa-envelope  Contact
    //-       ul.nav.navbar-nav.pull-right
    //-         li: a(href='/signup/')
    //-           i.fa.fa-plus
    //-           | &nbsp;Sign Up
    //-         li: a(href='/login/')
    //-           i.fa.fa-user
    //-           | &nbsp;Sign In
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#mainNavbar')
            span.sr-only Toggle navigation
            span
              i.fa.fa-bars
          a.navbar-brand(href='/', id='logo')
            img(src='/logos/halycontv-logo.svg', alt='Halycon.TV logo', height='40')
        div#mainNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/contact/')
                span
                  i.fa.fa-envelope
                span  Contact
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/signup/')
                span
                  i.fa.fa-plus
                span  Sign Up
            li
              a(href='/login/')
                span
                  i.fa.fa-sign-in
                span  Sign In

    div.page
      div.container
        block body

    //div.footer
      div.container
        span.copyright.pull-right
          &#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') Home
          li: a(href='/about/') About
          li: a(href='/press/') Press
          li: a(href='/troubleshoot/') Troubleshoot

        div.clearfix

    div.footer
      div.container.text-center
        div
          img(src='/logos/halycontv-logo.svg', alt='Halycon.TV logo', height='70')
          h2 Share your knowledge!
          h4 ...unlock unlimited possibilities...
        hr.separator
        div.bottom-50
          ul.list-inline
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/contact/') Contact
            li: a(href='/press/') Press
            li: a(href='/troubleshoot/') Troubleshoot
        div.bottom-50
          ul.list-inline
            li
              a(href='')
                i.fa.fa-facebook-square.fa-2x
            li
              a(href='')
                i.fa.fa-google-plus-square.fa-2x
            li
                a(href='')
                  i.fa.fa-twitter-square.fa-2x
            li
                a(href='')
                  i.fa.fa-linkedin-square.fa-2x
        div
          span.copyright
            &copy; #{copyrightYear} #{copyrightName} All rights reserved

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/vendor/analytics/analytics.js')

    block feet
