extends ../../layouts/default

block head
  title About Us

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/vendor/lightbox/lightbox.css')

block feet
  script(src="/views/about/index.js")
  script(src="/vendor/lightbox/lightbox.js")

block body
  div.row(style="margin-top: 15px;")
    div.col-sm-6
      div.page-header
        h1 About Us
      div.media.panel.panel-default
        a.pull-left(href='#')
          img.media-object(src='/about/samuel.jpg', style='width: 64px; height: 64px;')
        div.media-body
          h4.media-heading Samuel Picek
            small  ( sam@halycon.tv )
          p Project Lead - Developer - Network Administrator
          hr
          p Sam is highly motivated and decisive student. With its big knowledge base, technical "know how", creative thinking and unique character he is important team player to get things done.
          p Because of its personal connection with this project, Sam is very motivated and pleased that he can work on Halycon.TV.
      div.media.text-right.panel.panel-default
        a.pull-right(href='#')
          img.media-object(src='/about/goran.jpg', style='width: 64px; height: 64px;')
        div.media-body
          h4.media-heading Goran Mlinarić
            small  ( gomlinaric@halycon.tv )
          p Bussiness Manager
          hr
          p loream ipsum loream ipsum loream ipsum loream ipsum loream ipsum
      div.media.panel.panel-default
        a.pull-left(href='#')
          img.media-object(src='/about/luka.jpg', style='width: 64px; height: 64px;')
        div.media-body
          h4.media-heading Luka Matijević
            small  ( lumatijev@halycon.tv )
          p Developer - Designer
          hr
          p loream ipsum loream ipsum loream ipsum loream ipsum loream ipsum
      div.media.text-right.panel.panel-default
        a.pull-right(href='#')
          img.media-object(src='/about/bojan.jpg', style='width: 64px; height: 64px;')
        div.media-body
          h4.media-heading Bojan Juranek
            small  ( bojuranek@halycon.tv )
          p Marketing - Public Relations
          hr
          p Bojan is master degree student of Business Systems on Faculty of Organization and Informatics in Varaždin, Croatia. His interests are Computer Sciences (Electronics, Shell programing, Security...), guitar playing, cycling, swimming, permaculture, geopolitics and anarchism. He is responsible for developing the business model, marketing and public relations.
          p Very pleased with the team working on project and the results of the Team Halycon achived so far he is very motivated  to develop an earning model, promotional activities and contracting with customers of service. The future of the project is seen as opening start-up, through which team would be able to commercialize its current project Halycon.TV and develop innovative new products based on demands of modern society.
    div.col-sm-6.special
      div.page-header
        h1 About Project
      p.lead  Real-time streaming social media platform.
      hr
      a(href="/about/project/multipoint.jpg", data-toggle="lightbox", data-title="Multipoint real-time video communication", id="multipoint")
        div.media.panel.panel-default
          i.fa.fa-video-camera.fa-5x 
          div.media-body
            h4 Multipoint real-time video communication
      a(href="/about/project/accept_camera.jpg", data-toggle="lightbox", data-gallery="camera" data-title="Accept share camera to start using your camera", id="accept_camera")
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-camera.fa-5x 
          div.media-body
            h4 Share camera
      a(href="/about/project/allowFlagENG.png", data-toggle="lightbox", data-title="Activate flag inside Chrome for sharing desktop", id="share_desktop")
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-desktop.fa-5x 
          div.media-body
            h4 Share desktop
      a(href)
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-circle.fa-5x 
          div.media-body
            h4 Record stream
      a(href)
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-save.fa-5x 
          div.media-body
            h4 Save records to the cloud
      a(href)
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-calendar.fa-5x 
          div.media-body
            h4 Schedule events
      a(href)
        div.media.panel.panel-default(style="padding-top: 10px;")
          i.fa.fa-money.fa-5x 
          div.media-body
            h4 Sell tickets or video content