doctype 5
html
  head
    title #{title}

    link(rel='stylesheet', href='/fonts/fonts.css')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/vendor/bootflat/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-extensions.css')
    link(rel='stylesheet', href='/vendor/bootflat/css/bootflat-square.css')
    link(rel='stylesheet', href='/layouts/halycon.css')

  body(ng-app="app", style="margin-top:-50px;")
    input(type="hidden", id="channel_name", value="#{channel.data.name}")
    input(type="hidden", id="channel_status", value="#{channel.meta.status}")
    input(type="hidden", id="channel_type", value="#{channel.data.type}")
    input(type="hidden", id="channel_photo_path", value="#{channel.data.photo}")
    input(type="hidden", id="channel_owner", value="#{channel.channelCreated.name}")
    div(ng-controller="main")
      a(href, ng-click="connect()", id="channel_photo")
          img(src='#{channel.data.photo}', width="830", height="515")
      div(id="main_display", style="width:830px; height: 515px;")


    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/vendor/analytics/analytics.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/scroller/js/scroller.js')
    script(src='/vendor/ladda/js/spin.min.js')
    script(src='/vendor/ladda/js/ladda.min.js')
    script(src='/vendor/erizo/erizo.js')

    script(src='/views/stream/iframe/index.js')
    script(src='/vendor/fullscreen/fs.js')
