/* -------------------------
	DATE PICKER
------------------------- */

.daterangepicker.dropdown-menu {
	z-index: 1020;
}

.daterangepicker {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.daterangepicker .calendar-date {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.daterangepicker td,
.daterangepicker th {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.daterangepicker th {
	background-color: #d3d7d7;
}

.daterangepicker td.active {
	background-color: #2986b9;
	border-color: #2986b9;
}

.daterangepicker .cancelBtn {
	float: right;
}

.daterangepicker .applyBtn,
.daterangepicker .cancelBtn {
	width: 48%;
}

.daterangepicker .ranges .input-mini {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.daterangepicker select {
	background-color: #fff;
	border-color: #d3d7d7;
}
