/* -------------------------
	FONT
------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
	font-family: 'Open Sans', sans-serif !important;
}

/* -------------------------
	NAVBAR
------------------------- */

#mainNavbar, .navbar {
	border-color: #292929;
}

.navbar-brand {
	padding-top: 5px;
}

@media(max-width:767px) {
	.navbar-brand {
		padding-top: 9px;
		/*width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;*/
	}

	.navbar-brand img {
		/*width: 100%;
		margin-left: auto;
		margin-right: auto;*/
	}
}

/* -------------------------
	PAGE HEADER
------------------------- */

.page-header {
	margin-top: 10px;
}

/* -------------------------
	POSITION
	AND OTHER
	FIXES
------------------------- */

.fixGroupBtnRight {
	right: 0 !important;
	margin-right: 0 !important;
}

/* -------------------------
	PANEL
------------------------- */

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}

.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: #5c6666;
}

.panel-footer a.blue {
	color: #2986b9;
}

.panel-footer a:hover.blue {
	color: #1b71a0;
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}


.inline-block{display:inline-block;}

/* -------------------------
	MOBILE STREAM
------------------------- */

@media(max-width:767px) {
	#main_display {
		width: 100% !important;
		margin-left: 0 !important;
	}
}

/* -------------------------
	FULLSCREEN
------------------------- */

#main_display:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

#main_display:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

#main_display:-ms-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

#main_display:-o-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

#main_display:full-screen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

#main_display:fullscreen {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
}

/* -------------------------
	PANEL
------------------------- */

.footer {
	background-color: #333;
}

.footer .container {
	border-top: none;
}

.footer .list-inline > li {
	padding-left: 15px;
	padding-right: 15px;
}

.footer a:hover {
	color: #1b71a0;
	text-decoration: none;
}

.footer .separator {
	border-width: 1px;
	border-style: solid;
	border-color: #191919 transparent #474747;
}
