#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 2050;
  text-align: center;
}

#loading-image {
  position: relative;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2000;
}