.imageBlock {
    position: relative;
    overflow: hidden;
}

.imageInfo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.imageEffect .topLeftEffect,
.imageEffect .topRightEffect,
.imageEffect .bottomLeftEffect,
.imageEffect .bottomRightEffect {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.imageEffect .topLeftEffect {
	top: -100%;
	left: -100%;
}

.imageEffect .topRightEffect {
	top: -100%;
	right: -100%;
}

.imageEffect .bottomLeftEffect {
	bottom: -100%;
	left: -100%;
}

.imageEffect .bottomRightEffect {
	bottom: -100%;
	right: -100%;
}

.imageEffect:hover .topLeftEffect {
	top: 0;
	left: 0;
}

.imageEffect:hover .topRightEffect {
	top: 0;
	right: 0;
}

.imageEffect:hover .bottomLeftEffect {
	bottom: 0;
	left: 0;
}

.imageEffect:hover .bottomRightEffect {
	bottom: 0;
	right: 0;
}

.imageInfo h4 {
	position: absolute;
	top: 5px;
	left: -100%;
	padding: 10px 20px;
	background: rgba(14, 134, 185, 0.7);
	color: #f9f9f9;
	-webkit-transition: left 200ms linear;
	-moz-transition: left 200ms linear;
	-ms-transition: left 200ms linear;
	-o-transition: left 200ms linear;
	transition: left 200ms linear;
}

.imageInfo p {
	position: absolute;
	top: 65px;
	left: 10%;
	width: 80%;
	color: #fff;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.imageInfo a {
	position: absolute;
	bottom: 10px;
	right: -100%;
	padding: 10px 20px;
	background: rgba(14, 134, 185, 0.7);
	color: #f9f9f9;
}

.imageInfo:hover h4 {
	left: 0;
	-webkit-transition-delay: 250ms;
	-moz-transition-delay: 250ms;
	-ms-transition-delay: 250ms;
	-o-transition-delay: 250ms;
	transition-delay: 250ms;
}

.imageInfo:hover p {
	opacity: 1;
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	-ms-transition-delay: 600ms;
	-o-transition-delay: 600ms;
	transition-delay: 600ms;
}

.imageInfo:hover a {
	right: 0;
	-webkit-transition: right 200ms linear 700ms, color, background 200ms linear;
	-moz-transition: right 200ms linear 700ms, color, background 200ms linear;
	-ms-transition: right 200ms linear 700ms, color, background 200ms linear;
	-o-transition: right 200ms linear 700ms, color, background 200ms linear;
	transition: right 200ms linear 700ms, color, background 200ms linear;
}

.imageInfo a:hover {
	background: rgba(14, 134, 185, 1.0);
	color: #f9f9f9;
	text-decoration: none;
}
