//
  = '\n'
  = '\n'
  | Report for stream: #{stream_name}
  = '\n'
  = '\n'
  | Title: #{report_title}
  = '\n'
  = '\n'
  | Description: #{report_description}
  = '\n'
  = '\n'
  | From: #{username}
  | Email: #{email}
  = '\n'
  = '\n'
  | Thanks,
  | #{username}, #{email}
  = '\n'
  = '\n'
