extends ../../layouts/default

block head
  title Troubleshooting

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/vendor/lightbox/lightbox.css')

block feet
  script(src="/views/about/index.js")
  script(src="/vendor/lightbox/lightbox.js")

block body
  div.row(style="margin-top: 15px;")
    div.col-sm-9
      div.page-header
        h1 Troubleshoot
      

    div.col-sm-3.special
      div.page-header
        h2 Problems
      ul.list-unstyled
        li
          a(href) How to join channel?
        li
          a(href) How to share camera?
        li
          a(href) How to share desktop?
        li
          a(href) How to enable microphone?
        li
          a(href) How to create new event?
        li
          a(href) How to share on social networks?
        li
          a(href) How to record stream?
        li
          a(href) How to reproduce recorded stream?
