extends ../../layouts/account

block head
  title #{ channel.data.name }

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/vendor/scroller/css/scroller.css')
  link(rel='stylesheet', href='/vendor/ladda/css/ladda-themeless.min.css')

block feet
  script(src='/vendor/angular/angular.min.js')
  script(src='/vendor/scroller/js/scroller.js')
  script(src='/vendor/ladda/js/spin.min.js')
  script(src='/vendor/ladda/js/ladda.min.js')
  script(src='/vendor/erizo/erizo.js')
  //- script(src='/vendor/sipclient/sipmlclient.js')
  //- script(src='/views/stream/indexsipml.js')

  script(src='/views/stream/index.js')
  script(src='/vendor/share/share.js')
  script(src='/vendor/fullscreen/fs.js')

block body
  div.modal.modal-static.fade(id="processing-modal", role="dialog", aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-body
          div.text-center
            img.icon(src="/media/loading.gif")
            h4 Connecting...
              br
              small.pull-right ...if it takes to long try to refresh

  //- div(id="loading")
    img(id="loading-image", src='/media/ajax-loader.gif', alt='Loading...')
      //-a.btn.btn-info.pull-right(href='/')
              i.fa.fa-sign-out &nbsp; Back

  div.row(style='margin-top: 15px;', ng-controller='main')
    div.col-sm-9
      div.row
        //- h2.inline-block(style="margin-left: 20px; display: none;")
          i.fa.fa-bookmark &nbsp;
            span(id="channel_name") #{channel.data.name}
        div.center-block(id='main_display', style="width: 830px; height: 515px; margin-left: 3.7%;")
          img.center-block.img-responsive(src="#{channel.data.photo}", width="830", height="515")
      div.row
        div.col-md-6.col-xs-6
          h2
            div
              div.row(style="margin-top: 20px; margin-left: 0px;")
                //-.col-md-4
                  font.center-block(size='5')
                    div(data-toggle='tooltip', title='Shares')
                      i.fa.fa-share-square &nbsp;#{ channel.stats.shares }
                //- .col-md-3
                  font.center-block(size='5')
                    div(data-toggle='tooltip', title='Stars')
                      i.fa.fa-star &nbsp;#{ channel.stats.stars }
                .col-md-12
                  font.inline-block(size='5')
                    div(data-toggle='tooltip', title='Views')
                      span
                        i.fa.fa-video-camera &nbsp;
                      span  #{ channel.stats.total_views }
                  span &nbsp;&nbsp;
                  font.inline-block(size='5')
                    div(data-toggle='tooltip', title='Users online')
                      span
                        i.fa.fa-user &nbsp;
                      span(id='users_online') {{ channel.stats.online_viewers.max }}
                  span &nbsp;&nbsp;
                  font.inline-block(size='5')
                    div(data-toggle='tooltip', title='Stars')
                      span
                        i.fa.fa-star &nbsp;
                      span(id="channel_stars") #{channel.stats.stars}

        div.col-md-6.col-xs-6
          input(type='hidden', value='#{starred}', id="starred")
          button.btn.btn-success.ladda-button.pull-right(ng-hide="starred", id="star_this_btn",data-style='expand-right',type="button", style="margin-top:25px; margin-left: 5px;", ng-click="star_this()")
            span.ladda-label
              i.fa.fa-star &nbsp;
            span Star

          button.btn.btn-default.ladda-button.pull-right(ng-show="starred", id="unstar_this_btn",data-style='expand-right',type="button", style="margin-top:25px; margin-left: 5px;", ng-click="unstar_this()")
            span.ladda-label
              i.fa.fa-star &nbsp;
            span Unstar

      div
        hr
        ul.nav.nav-tabs
          li
            a(href='#info', data-toggle='tab', id='info_btn')
              span
                i.fa.fa-dashboard
          li
            a(href='#share', data-toggle='tab', id='share_btn')
              span
                i.fa.fa-share-square
          li
            a(href='#report', data-toggle='tab', id='report_btn')
              span
                i.fa.fa-flag

        div.tab-content
          div.tab-pane.fade(id='info', ng-controller='info')
            h3
              span
                i.fa.fa-dashboard &nbsp;
              span(id="channel_name") #{channel.data.name}
            div.row(style="margin-top: 20px;")
              div.col-md-6
                p
                  strong Type: &nbsp;
                  span #{channel.data.type}
                p
                  strong Description: &nbsp;
                  span #{channel.meta.description}
              div.col-md-6
                p
                  strong Status: &nbsp;
                  span #{channel.meta.status}
                p
                  strong Owner: &nbsp;
                  span(id="username") #{user.username}
                p
                  strong Language: &nbsp;
                  span #{channel.meta.language}


          div.tab-pane.fade(id='share', ng-controller='share')
            h3
              span
                i.fa.fa-share-square &nbsp;
              span Share
            div.row(style="margin-top: 20px;")
              div.col-md-6
                input.form-control(ng-model="url_share", type="text", value="")
              div.col-md-6
                a.btn.btn-info(class="share-toggle" href="https://halycon.tv/", data-network="facebook", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                  i.fa.fa-facebook
                span &nbsp;
                a.btn.btn-info(class="share-toggle" href="https://halycon.tv/", data-network="twitter", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                  i.fa.fa-twitter
                span &nbsp;
                a.btn.btn-info(class="share-toggle" href="https://halycon.tv/", data-network="linkedin", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                  i.fa.fa-linkedin
                span &nbsp;
                a.btn.btn-info(class="share-toggle" href="https://halycon.tv/", data-network="googleplus", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                  i.fa.fa-google-plus
                span &nbsp;
                a.btn.btn-info(class="share-toggle" href="https://halycon.tv/", data-network="email", data-head="Halycon.TV", data-summ="Share Halycon.TV", data-image="https://halycon.tv/{{ news.data.photo }}")
                  i.fa.fa-envelope

            div.row(style="margin-top: 20px;")
              .col-md-6
                textarea.form-control(placeholder="Iframe integration", ng-model="iframe.string")
              .col-md-6
                button.btn.btn-primary(type="button") Copy to Clipboard

          div.tab-pane.fade(id='report', ng-controller='report')
            h3
              i.fa.fa-flag &nbsp;
              span Report
            div.row(style="margin-top: 20px;")
              div.col-md-12
                div.input-group
                  input.form-control(type="text", placeholder="Reason", ng-model="report.title")
                  span.input-group-btn
                    button.btn.btn-info.ladda-button(type="button", data-style="expand-right", ng-click="send_report()")
                      span
                        i.fa.fa-ticket  &nbsp;
                      span Send Report
                textarea.form-control(placeholder="Description", ng-model="report.description")



    div.col-sm-3.special(ng-controller='settings')
      a.btn.btn-primary(href="#", role="button", ng-click="share_camera(true)", ng-disabled="local_stream_published")
        i.fa.fa-camera
        br
        span Share Camera
      a.btn.btn-primary(href="", role="button", ng-click="share_desktop()", ng-disabled="desktop_stream_published", style="margin-left: 1px;")
        i.fa.fa-desktop
        br
        span Share Desktop
      hr
      ul.nav.nav-tabs
        li
            a(href="#users", data-toggle="tab", id="users_btn")
              i.fa.fa-group
        li
            a(href="#chat", data-toggle="tab", id="chat_btn")
              i.fa.fa-comment
        li
            a(href="#record", data-toggle="tab", id="record_btn")
              i.fa.fa-circle
        li.pull-right.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown", id="settings_btn")
              i.fa.fa-wrench &nbsp;
              b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='settings_btn')
              //- li
                a(href="", ng-click="share_desktop()", ng-disabled="desktop_stream_published")
                  span
                    i.fa.fa-desktop &nbsp;
                  span Share Desktop
              //- li
                a(href="", ng-click="share_camera(true)",  ng-disabled="local_stream_published")
                  span
                    i.fa.fa-camera &nbsp;
                  span Share Camera
              li
                a(href="", ng-click="share_camera(false)")
                  span
                    i.fa.fa-microphone
                  span  Share Microphone
              li.divider
              li
                a(href='/profile/#{channel.data.name}')
                  span
                    i.fa.fa-video-camera &nbsp;
                  span Channel Details
              li
                a(ng-if="owner", href, ng-click="deactivate()")
                  span
                    i.fa.fa-ban &nbsp;
                  span Close Channel

      div.tab-content
        div.tab-pane.fade(id="record")
          div(style="margin-top: 10px; margin-bottom: 10px;")
            div.col-md-12(style="margin-top: 10px;")
                h4
                  div(data-toggle="tooltip", title="Publish camera or desktop if you wish to record.")
                    span
                      i.fa.fa-circle &nbsp;
                    span Record: &nbsp;
            div
              div(style="margin-top: 10px;")
                button.btn.btn-success.ladda-button(data-style="expand-right", type="button", ng-disabled="!local_stream_published", ng-click="record_camera()", id="rec_camera")
                  span.ladda-label
                    i.fa.fa-camera &nbsp;
                  span Camera
                button.btn.btn-danger(type="button", ng-show="camera_recording", ng-click="stop_recording_camera()" style="margin-left: 5px;") Stop
              div(ng-hide='true', style="margin-top: 10px;")
                button.btn.btn-success.ladda-button(data-style="expand-right", type="button", ng-disabled="!desktop_stream_published", ng-click="record_desktop()", id="rec_desktop")
                  span.ladda-label
                    i.fa.fa-desktop &nbsp;
                  span Desktop
                button.btn.btn-danger(type="button", ng-show="desktop_recording", ng-click="stop_recording_desktop()") Stop

        div.tab-pane.fade(id="users", ng-controller='users')
          div.nano(id='users_nano', style='height: 565px;')
            div.content
              ul.list-group(style="margin-top: 5px;")
                li(ng-repeat="stream in user_streams", ng-hide="{{ stream.main_display }}", style="margin-top: -15px;")
                  div.row
                    .col-md-10
                      small.pull-left
                        span(ng-if="stream.attr.type == 'Desktop'")
                          span
                            i.fa.fa-desktop &nbsp;
                          span {{ stream.attr.type }}: {{ stream.attr.name }}
                        span(ng-if="stream.attr.type == 'Camera' ")
                          span
                            i.fa.fa-camera &nbsp;
                          span {{ stream.attr.type }}: {{ stream.attr.name }}
                        span(ng-if="stream.attr.type == 'Microphone'")
                          span
                            i.fa.fa-microphone &nbsp;
                          span {{ stream.attr.type }}: {{ stream.attr.name }}
                    .col-md-2
                      button.close(type="button", ng-click="remove_element(stream, $index)") &times;
                  a(href='#', ng-click='screen_swap(stream, $index)')
                    div(id='{{ stream.timestamp }}', style='width: 263px; height: 163px;')

        div.tab-pane.fade(id="chat", ng-controller='chat')
          div.nano(id='chat_nano', style='height: 522px;')
            div.content
              ul.list-group(style="margin-top: 5px;")
                li.list-group-item(ng-repeat="message in messages")
                  div.row
                    .col-md-12
                      i.fa.fa-comment.pull-left
                      small.pull-right {{ message.timestamp.format }}
                  div.row
                    div.col-md-12(style="width: 230px; word-wrap: break-word; text-align: left;")
                        b {{ message.from }}: &nbsp;
                        small(ng-bind-html='render(message.msg)')

          div.row
                div.col-md-12
                  form(ng-submit="send_message()")
                    div.input-group
                      input.form-control(type="text", ng-model="nmsg.new_message")
                      span.input-group-btn
                        button.btn.btn-default(type="submit") Send
                        //- button.btn.btn-default
                          i.fa.fa-smile-o
